<!DOCTYPE html>
<html>
<head>
<title>Data</title>
<meta charset="UTF-8">
<style>
html, body {
	background:#15518f;
	padding: 0px;
	margin: 0px;
}

.main {
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
</style>
<script src="../js/ht/core/ht.js"></script>
<script src="../js/ht/plugin/ht-dashflow.js"></script>
<script src="../js/jquery/jquery-2.2.1.min.js"></script>
<script src="../js/nodeData.js"></script>
<script src="../js/nodeEdge.js"></script>
</head>
<body onload="init();">
<div id="main"></div>
</body>
</html>
