
<!DOCTYPE html>
<html>
    <head>
        <title>Style Shape</title>
        <meta charset="UTF-8">   
        <style>
            html, body {
            	background:#15518f;
                padding: 0px;
                margin: 0px;                
            }            
            .main {
                margin: 0px;
                padding: 0px;
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
            }
        </style>     
         <script src="../js/ht/core/ht.js"></script> 
        <script>                                                    
            function init(){                                
                dataModel = new ht.DataModel();
                graphView = new ht.graph.GraphView(dataModel);
                view = graphView.getView();            

                view.className = 'main';
                document.body.appendChild(view);    
                window.addEventListener('resize', function (e) {
                    graphView.invalidate();
                }, false);  
         

                graphView.setEditable(true);
                graphView.setZoom(0.8);
                graphView.translate(-80, -50);
              //圆角矩形
                var w = 120, h = 60;
                var shapes = ['roundRect'];
                for (var i = 0; i < shapes.length; i++) {
                    var node = new ht.Node();
                    node.setName(shapes[i]);
                    node.setSize(w, h);                    
                    node.setPosition(70 + i * 80, 50);
                    node.setStyle('shape', shapes[i]); 
                    node.setStyle('shape.border.width', 10); 
                    node.s("shape.background", 'white');
                    node.s("2d.selectable", false);
                    node.setStyle('shape.border.color', '#c8c8c8'); 
                    node.setStyle('shape.corner.radius', 30); 
                    
                    dataModel.add(node);
                }
               
                
            }
                        

        </script>
    </head>
    <body onload="init();">
    </body>
</html>
