
<!DOCTYPE html>
<html>
<head>
<title>Style Shape</title>
<meta charset="UTF-8">
<style>
html, body {
	background: #15518f;
	padding: 0px;
	margin: 0px;
}

.main {
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
</style>
<script src="../js/ht/core/ht.js"></script>
<script src="../js/ht/plugin/ht-edgetype.js"></script>
<script src="../js/nodeData.js"></script>
<script>
	var dataModel = new ht.DataModel();
	graphView = new ht.graph.GraphView(dataModel);
    graphView.setZoom(0.7);
	function init() {
		view = graphView.getView();
		map.forEach(function(line, lineIndex) {
			var nodeList = new Array();
			for (var i = 0; i < line.length; i++) {
				var data = line[i];
				var node = createNodeByData(data);//创建节点
				nodeList.push(node);//存储节点，便于创建连线
			}
			for(var i=0;i<nodeList.length-1;i++){//创建连线
				var node1 = nodeList[i];
				var node2 = nodeList[i+1];
				createEdgeByData(node1,node2);
			}
		});
		view.className = 'main';
		graphView.setLayers([ 1, 2 ]);
		document.body.appendChild(view);

	}

	function createNodeByData(data) {
		var nodeType = data.nodeType;
		var node;
		if(nodeType==1){//1-小圆点
			node = createNode1(data,1);
		}else if(nodeType==2){//2-横向圆角矩形
			node = createNode2(data,1);
		}else if(nodeType==3){//3-纵向圆角矩形
			node = createNode2(data,2);
		}else if(nodeType==4){//4-叶节点
			node = createNode1(data,2);
		}
		return node;
	}
	
    function createNode1(data,type){//小圆点
    	var node = new ht.Node();
    	node.setPosition(data.position.x, data.position.y);
    	node.setWidth(15);
    	node.setHeight(15);
    	node.s(nodeStyle);
    	if(type==2){
    		node.s('shape.background','#c8c8c8');
    	}
    	node.s('label.scale' , 1.4);
    	node.s("label.offset.x", -(data.name_ch.length * 15) - 5);
    	node.s("label.offset.y", -20);
    	node.a("pointIndex", data.index);
    	node.a("type", "station");
    	node.a('edgeType',data.edgeType);
    	node.setName(data.name_ch);
    	node.setLayer(2);
    	dataModel.add(node);
    	return node;
    }
    
    function createNode2(data,type){//横向、纵向圆角矩形
    	var node = new ht.Node();
        node.setName(data.name_ch);
        if(type==1){
	        node.setSize(40, 20);                    
        }else{
	        node.setSize(20, 40);
        }
        node.setPosition(data.position.x,data.position.y);
        node.s('shape', 'roundRect'); 
        node.s('label.color' , 'white');
        node.s('label.scale' , 1.4);
        node.a('edgeType',data.edgeType);
        node.s('shape.border.width', 5); 
        node.s("shape.background", 'white');
        node.s("2d.selectable", false);
        node.s('shape.border.color', '#c8c8c8'); 
        node.s('shape.corner.radius', 10); 
        node.a('edgeType',data.edgeType);
        node.setLayer(2);
        dataModel.add(node);
        return node;
    }
    
    function createEdgeByData(sourceNode,targetNode){
    	var edgeType = sourceNode._attrObject.edgeType;
    	if(edgeType=='0'){
	    	var slope = getEdgeSlope(sourceNode.getPosition(),targetNode.getPosition());
	    	var edge;
	    	edge = new ht.Edge(sourceNode, targetNode);
	    	edge.s(edgeStyle);
	    	edge.setLayer(2);
	    	if(slope==1){
	    		edge.s('edge.source.offset.x',3);
	    		edge.s('edge.target.offset.x',3);
		    	dataModel.add(edge);
		    	edge = new ht.Edge(targetNode , sourceNode);
		    	edge.s(edgeStyle);
		    	edge.s('edge.source.offset.x',-3);
		    	edge.s('edge.target.offset.x',-3);
		    	edge.setLayer(2);
		    	dataModel.add(edge);
	    	}else if(slope==2){
	    		edge.s('edge.source.offset.y',3);
	    		edge.s('edge.target.offset.y',3);
		    	dataModel.add(edge);
		    	edge = new ht.Edge(targetNode , sourceNode);
		    	edge.s(edgeStyle);
		    	edge.s('edge.source.offset.y',-3);
		    	edge.s('edge.target.offset.y',-3);
		    	edge.setLayer(2);
		    	dataModel.add(edge);
	    	}else{
		    	var f = slope==4?(-1):1;
		    	edge.s('edge.source.offset.x',2.5);
		    	edge.s('edge.source.offset.y',2.5*f);
		    	edge.s('edge.target.offset.x',2.5);
		    	edge.s('edge.target.offset.y',2.5*f);
		    	edge.s('edge.color','red');
		    	dataModel.add(edge);
		    	edge = new ht.Edge(targetNode , sourceNode);
		    	edge.s(edgeStyle);
		    	edge.s('edge.source.offset.x',-2.5);
		    	edge.s('edge.source.offset.y',-2.5*f);
		    	edge.s('edge.target.offset.x',-2.5);
		    	edge.s('edge.target.offset.y',-2.5*f);
		    	edge.setLayer(2);
		    	dataModel.add(edge);
	    	}
    	}else if(edgeType=='1'){
    	    createEdge(sourceNode, targetNode, 2, {
    	    	'edge.type': 'v.h',
    	        'edge.color': '#00ebb3',
    	        'edge.corner.radius':5,
    	        'edge.width' : 3,
    	        'edge.gap': 6
    	    }); 
    	}else if(edgeType=='2'){
    		createEdge(sourceNode, targetNode, 2, {
    	    	'edge.type': 'h.v',
    	        'edge.color': '#00ebb3',
    	        'edge.corner.radius':5,
    	        'edge.width' : 3,
    	        'edge.gap': 6
    	    }); 
    	}else if(edgeType=='3'){
    		createEdge(sourceNode, targetNode, 2, {
    			'edge.type': 'flex',
    	        'edge.flex':10,
    	        'edge.width': 3,
    	        'edge.color': '#00ebb3',
    	        'edge.gap': 5
    	    }); 
    	}
    	
    }
    function getEdgeSlope(p1,p2){
    	if(p1.x-p2.x==0){
    		return 1;
    	}
    	if(p1.y-p2.y==0){
    		return 2
    	}
    	var Slope = (p1.y-p2.y)/(p1.x-p2.x);
    	if(Slope>0){
    		return 4;
    	}else{
    		return 3;
    	}
    }
    function createEdge(sourceNode, targetNode, count, typeOrStyle){
        var edge;
        for(var i=0; i<count; i++){
            edge = new ht.Edge(sourceNode, targetNode);
            if(typeof typeOrStyle === 'object'){
                edge.s(typeOrStyle);
            }else{
                edge.s('edge.type', typeOrStyle);                        
            }  
            edge.setLayer(2);
            dataModel.add(edge);
        }
        return edge;
    }  
	var nodeStyle = {
			'shape' : 'circle',
			'select.border.width' : 2,
			'shape.background' : 'white',
			'shape.border.color' : '#c8c8c8',
			'shape.border.width' : 4,
			'select.width' : 0,
			'label.color' : 'white'
		};
	var edgeStyle = {
			'edge.width' : 3,
			'edge.type': 'points',
			'edge.center' : true,
			'edge.corner.radius': 5,
			'edge.color' : '#00ebb3'
		};
	var edgeStyle1 = {
			
	}
</script>
</head>
<body onload="init();">
</body>
</html>
