
<!DOCTYPE html>
<html>
<head>
<title>Style Shape</title>
<meta charset="UTF-8">
<style>
html, body {
	background: #15518f;
	padding: 0px;
	margin: 0px;
}

.main {
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
</style>
<script src="../js/ht/core/ht.js"></script>
<script src="../js/ht/plugin/ht-edgetype.js"></script>
<script src="../js/ht/plugin/ht-flow.js"></script>
<script src="../js/ht/parsePointsInfo.js"></script>
<script src="../js/ht/station.js"></script>
<script src="../js/ht/tosEdgeType.js"></script>
<script src="../js/tosData.js"></script>
<script src="../js/style.js"></script>
<script>
	ht.Default.setImage('arrow','../img/arrow.png');

	var dataModel = new ht.DataModel();
	graphView = new ht.graph.GraphView(dataModel);
    //graphView.setZoom(0.7);
	function init() {
		view = graphView.getView();
		map.forEach(function(line, lineIndex) {
			var nodeList = new Array();
			for (var i = 0; i < line.length; i++) {
				var data = line[i];
				var node = createNodeByData(data);//创建节点
				nodeList.push(node);//存储节点，便于创建连线
			}
			for(var i=0;i<nodeList.length-1;i++){//创建连线
				var node1 = nodeList[i];
				var node2 = nodeList[i+1];
				createEdgeByData(node1,node2);
			}
		});
		
/* 		var changeColorTask = {
			    interval: 500,
			    action: function(data){
			       var list = map[3];
			       var lineId = list[0].lineId;
			       for(var i = 0;i<list.length-1;i++){
			    	   var sourceName = list[i].name.name_ch;
			    	   var targetName = list[i+1].name.name_ch;
			    	   var id = lineId+"_"+targetName+"_"+sourceName;
			    	   var e = dataModel.getDataById(id);
			    	   e.s('edge.color','red');
			    	   var n = dataModel.getDataById(lineId+"_"+sourceName);
			    	   n.a('leftColor','red');
			       }
			    }        
			};
			dataModel.addScheduleTask(changeColorTask); 		 */
		
		graphView.enableFlow(60);
		view.className = 'main';
		graphView.setLayers([ 'shadow', 'edge1','edge2','edge3','node1','node2' ]);
		document.body.appendChild(view);
		
		var overview = new ht.graph.Overview(graphView);
		
        var overviewPanel = new ht.widget.Panel({
            title: "Overview",
            restoreToolTip: "Overview",
            titleIcon: "res/eye.png",
            width: 300,
            contentHeight: 200,
            narrowWhenCollapse: true,
            content: overview,
            expanded: false
        });
	}

function createNodeByData(data){
	var p = data.position;
	var node = new ht.Node();
	node.setPosition(p.x, p.y);
	node.setWidth(15);
	node.setHeight(15);
	node.s(nodeStyle);
	node.a('edge',data.edge);
	node.a('lineId',data.lineId);
	node.a('isFlow',data.flow);
	node.a(getImgStyle(data));
	node.a('name',data.name);

	if(data.edge.corner){
		node.a('corner',data.edge.corner);	
	}
	if(data.name.hide==undefined){
/* 		node.s('label',data.name.name_ch);
		node.s("label.offset.x", -3);
		node.s("label.offset.y", 0);
		node.s('label2',data.name.name_en);
		node.s("label2.offset.x", 3);
		node.s("label2.offset.y", 10); */
	}
	node.setImage('station');
	node.setId(data.lineId+"_"+data.name.name_ch);
	node.setLayer('node2');
	dataModel.add(node);
	if(data.box){
		var box = data.box;
    	var roundRect = new ht.Node();
    	roundRect.setPosition(p.x+box.position.x,p.y+box.position.y);
       	roundRect.setSize(box.size.width, box.size.height);                    
       	roundRect.s(roundRectStyle);
       	roundRect.setLayer('node1');
       	dataModel.add(roundRect);   	
	}
	return node;
}

function createEdgeByData(sourceNode,targetNode){
	var edgeInfo = sourceNode._attrObject.edge;
	var isFlow = sourceNode._attrObject.isFlow;
	var lineId = sourceNode._attrObject.lineId;
	var sourceName = sourceNode._attrObject.name.name_ch;
	var targetName = targetNode._attrObject.name.name_ch;
	var count = 2,edge,edgeType = edgeInfo.type;
	var edgeStyle = edgeTypes[edgeType];
	var x0 = sourceNode.getPosition().x-targetNode.getPosition().x;
	var y0 = sourceNode.getPosition().y-targetNode.getPosition().y;
	for(var i = 0;i<count;i++){
		edge = new ht.Edge(sourceNode, targetNode);
		edge.s(edgeStyle);
		edge.setLayer(edgeInfo.layer);
		if(isFlow==true){
			edge.s(flowEdgeStyle);//设置流动样式
		}
		if(i==1){
			edge.s("flow.reverse",true);//流动反向
			edge.setAttr('isNext',true);
			edge.s('edge.color' , 'lightgrey');
			edge.setId(lineId+"_"+targetName+"_"+sourceName);
		}else{
			edge.setId(lineId+"_"+sourceName+"_"+targetName);
		}
	    dataModel.add(edge);
	}
	var edgeBg = new ht.Edge(sourceNode,targetNode);
	edgeBg.s('edge.type',edgeStyle['edge.type']+"_bg");
	edgeBg.s('edge.color','#515151');
	edgeBg.s('edge.width',2);
	edgeBg.setLayer(edgeInfo.layer);
	edgeBg.setId(lineId+"_"+targetName+"_"+sourceName+"_bg");
	dataModel.add(edgeBg);
}

</script>
</head>
<body onload="init();">
</body>
</html>
